/* user-defined names (should not be css reserved words): box, label, ~text~  */

/* experimental default flex display */
div {
  display: flex;
  flex-direction: column;
}

a {
  display: contents;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

p, .text, .display-block {
  display: block;
}

/* main grid full height & footer to bottom */
html,
body,
#root,
.main-grid
{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --pay-banner-background-color: #daebf5;
  --pay-banner-text-color: black;
  --pay-banner-padding: 1em;

  --our-projects-banner-back: #f9dd00;
  --our-projects-banner-text: #30008c;
  --how-to-help-banner-back: #6689d9;
  --how-to-help-banner-text:  #f3ffff;
}


@media screen and (min-width: 0em) {
  .main-grid {
    display: grid;
    grid-template-areas: 'menu'
                         'content'
                         'footer'
    ;

    justify-content: center;  /* display content at center with content's width */

    align-self: center; /* if screen to wide center everything */
  }

  .main-grid-menu {
    grid-area: menu;

    padding: 1em 1em 1em 1em;

    display: flex;
    flex-direction: row;

    column-gap: 1em;
  }

  .main-grid-footer {
    grid-area: footer;
  }

  .logo {
    height: 9em;  /* ~~~ */
  }

  .main-grid-content {
    grid-area: content;
    flex-direction: column;
  }

  .how-to-help {
    flex-direction: column;

    justify-content: space-between;
  }

  .how-to-help h3 {
    margin-top: 0;
    text-align: center;
  }

  .how-to-help .box
  {
    flex-basis: 100%; /* evey block same width */

    margin: 0.5em;
    padding-top: 1em;

    border-radius: 2em;
    color: var(--how-to-help-banner-text);
    background-color: var(--how-to-help-banner-back);
  }

  .how-to-help .box p {
    margin: 0 1em 1em 1em;
  }

  .our-projects {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .our-projects .box {
    margin: 1em;
    max-width: 30ex;
  }

  .our-projects a {
    display: contents;
  }

  .our-projects img {
    height: 100%;
    width: 100%;
    object-fit: fill; /* or contain */

    align-self: center;
  }

  .our-projects .label {
    color: var(--our-projects-banner-text);
    background-color: var(--our-projects-banner-back);

    padding: 0.5em;
    justify-content: center;
    text-align: center;
    align-items: center;

    min-height: 3em;
    font-size: 1.3em;
    font-weight: bold;
  }

  .help-soilders ul {
    column-count: 2;
  }

  .main-grid-content {
    max-width: 90ex;
  }

  .main-grid-content .text > p,
  .main-grid-content .text > div,
  .main-grid-content .text > table,
  .main-grid-content .text > h2,
  .main-grid-content .text > h3,
  .main-grid-content .text > h4,
  .main-grid-content .text > h5,
  .footer
  {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  table.md-table {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
  }

  .md-table td,
  .md-table th
  {
    border: 1px solid gray;
    padding: 0.1em;
  }

  .md-table th {
    text-align: left;
    background-color: yellow;
  }

  .md-table th:empty {
    display: none;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color:  #2d5c88;
  }

  .main-menu li {
    box-sizing: border-box;
    padding: 0.2em 0 0.2em 0;
    border-bottom: solid 1px rgb(225, 225, 225);
  }

  /* h2 { */
  /*   margin-left: 1rem; */
  /* } */

  /* media 0 */
}

@media screen and (min-width: 50em) {

  .main-grid {
    display: grid;
    grid-template-areas: 'menu content'
                         'menu footer '
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr
                        auto
    ;

  }

  .main-grid-menu {
    flex-direction: column;
    width: 20ch;
  }

  .how-to-help {
    flex-direction: row;
  }

  .our-projects {
    flex-direction: row;
  }

  .our-projects .box {
  }

  .our-projects a {
    display: contents;
  }

  .our-projects img {
    height: 100%;
    width: 100%;
    object-fit: fill; /* or contain */

    align-self: center;
  }

  .our-projects .label {
    min-height: 3em;
    /* font-size: x-large; */
  }


  .help-soilders ul {
    column-count: 3;
  }

  .main-grid-content .text > p,
  .main-grid-content .text > div,
  .main-grid-content .text > table,
  .main-grid-content .text > h2,
  .main-grid-content .text > h3,
  .main-grid-content .text > h4,
  .main-grid-content .text > h5,
  .footer
  {
    margin-right: unset;
    margin-left: unset;
  }

  .md-table td,
  .md-table th
  {
    padding: 0.1em 1em 0.1em 1em;
  }

  .main-menu li {
    padding: 0.8em 0 0.8em 0;
    border-bottom: solid 1px rgb(225, 225, 225);
  }

  /* media >50em */
}

.main-header {
  flex-direction: column;
  /* max-height: 30vh; */
  align-self: flex-start;
  margin-bottom: 1em;
  width: 100%; /* to make main-header-image be larger if required */
}

.main-header-image {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  object-position: top;
}

.empty-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo-image {
  height: 100%;
  width: 100%;
  object-fit: contain;

  align-self: center;
}

.lang-panel {
  position: absolute;
}

.lang-image {
  margin-right: 0.5em;
}

.pay-banner {
  flex-direction: row;

  margin: 0;
  padding: var(--pay-banner-padding);
  padding-right: 0;

  justify-content: space-evenly;

  background-color: var(--pay-banner-background-color);
}

.pay-banner-text {
  color: var(--pay-banner-text-color);

  flex: auto;  /* full all width */
  align-self: center;  /* vertical text center */
  align-items: center; /* horizontal text center */

  font-weight: bold;
}

.pay-banner-button {
  background-color: #374d8b;

  color: white;

  border-radius: 2em;
  border-style: outset;
  padding: 0.7em;
  font-size: 1.2em;
  font-weight: bold;
}

h3, h4 {
  text-align: center;
}

.footer {
  font-size: 0.8em;
  order: 10;
}

.footer strong {
  color: #311b73;
}

.epigraph {
  text-align: right;
}

.text-with-images img {
  max-width: 100%;
}

.order10 {
  order: 10
}
.order20 {
  order: 20
}

.accounts p {
  margin: 0;
}
